#loginForm, #registerForm {
  width: 300px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  position: absolute;   
  left: 50%;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.visible{
opacity: 1;
      pointer-events: auto;
      transform: translate(-50%, 0);
}
.hidden{
 opacity: 0;
      pointer-events: none;
      transform: translate(-50%, 20px);
}
    